{% extends 'layouts/layout.html.twig' %}

{% block title %}
Fms homepage
{% endblock %}

{% block content %}
<div class="content container-fluid">

    <div class="container py-2">

        {% for message in app.flashes('EmailConfWarn') %}
            <div class="alert alert-warning w-100">
                {{ message }}
                <a href="{{path('app_resend_confirmation')}}">Click here to resend email confirmation</a>
            </div>
        {% endfor %}
        {% for message in app.flashes('mailerError') %}
            <div class="alert alert-danger w-100">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success w-100">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="p-4">File management system</h1>
        {% if not app.user %}
        <div class="container w-75">
            <div class="row justify-content-center">
                <div class="form-block px-0 pb-2 col-sm-12 col-md-8 col-lg-6 col-xl-5">
                    <h4 class="bg-dark text-white p-3">Create an account now</h4>
                    <div class="p-3">
                    {{ form_start(form) }}
                        {{ form_row(form.email)}}
                        {{ form_row(form.password)}}
                        {{ form_row(form.username)}}
                        {{ form_row(form.submit)}}
                    {{ form_end(form) }}
                    </div>
                    <p class="d-inline">Already have an account?</p>
                    <a href="{{path('app_login')}}" class="d-inline">Sign in</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="home-panel-block container w-75">
            <div class="row h-100 p-0 m-0">
                <div class="col-md-12 col-lg-3 user-sidebar p-5">
                    {{app.user.email}}
                </div>
                <div class="col-md-12 col-lg-9 bg-light p-5">
                    {% for i in 0..5 %}
                    <i class='bi bi-file-text'></i>
                    {% endfor %}
                </div>
                <a href="{{path('app_user_panel')}}" class="btn btn-lg btn-dark w-100 p-3">Go to your panel</a>
            </div>
            
        </div>
        {% endif %}

    </div>



</div>



{% endblock %}